---
export const prerender = true;

import { getCollection } from 'astro:content';

import Layout from "../layouts/Layout.astro";
import VideoGrid from '../components/VideoGrid';
import createSlug from '../lib/createSlug';

const allVideos = await getCollection('videos');
const recentVideos = [...allVideos].sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime()).slice(0, 10);

const roadmaps = await getCollection('roadmaps');
---

<Layout>
	<div class="grid grid-cols-1 md:grid-cols-[3fr_1fr] gap-3">
		<VideoGrid videos={recentVideos} />
		<div>
			<h1 class="text-3xl font-bold mb-2">Roadmaps</h1>
			{roadmaps.map(({ data }) => (
				<div>
					<a href={`/roadmaps/${createSlug(data.title)}`} class="hover:underline">
						{data.title}
					</a>
				</div>
			))}
		</div>
	</div>

</Layout>
