<div class="space-y-4">
  <img class="mx-auto h-20 rounded-xl lg:h-24" src={Astro.props.thumbnails.medium.url} alt="" />
  <div class="space-y-2">
    <div class="text-xs font-medium lg:text-sm">
      <h3>{Astro.props.title}</h3>
    </div>
  </div>
</div>