<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blue Collar Coder Videos{Astro.props.title ? `: ${Astro.props.title}` : ''}</title>
	</head>
	<body class="max-w-5xl mx-auto">
		<slot />
	</body>
</html>
